/* Pricing Table CSS  */

* {
    box-sizing: border-box;
}


/* Create three columns of equal width */

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}


/* Pricing Title  */

.price_section .price_title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}


/* Style the list */

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


/* Add shadows on hover */

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}


/* Pricing header */

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}


/* List items */

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}


/* Grey list item */

.price .grey {
    background-color: #eee;
    font-size: 20px;
}


/* The "Sign Up" button */

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}


/* Pricing Table CSS 2  */

* {
    box-sizing: border-box;
}


/* Create three columns of equal width */

.columns2 {
    float: left;
    width: 33.3%;
    padding: 8px;
}


/* Style the list */

.price2 {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


/* Add shadows on hover */

.price2:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}


/* Pricing header */

.price2 .header2 {
    background-color: #111;
    color: white;
    font-size: 25px;
}


/* List items */

.price2 li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}


/* Grey list item */

.price2 .grey2 {
    background-color: #eee;
    font-size: 20px;
}


/* The "Sign Up" button */

.button2 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */

@media only screen and (max-width: 600px) {
    .columns2 {
        width: 100%;
    }
}


/* Pricing Table CSS 3  */

* {
    box-sizing: border-box;
}


/* Create three columns of equal width */

.columns3 {
    float: left;
    width: 33.3%;
    padding: 8px;
}


/* Style the list */

.price3 {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


/* Add shadows on hover */

.price3:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}


/* Pricing header */

.price3 .header3 {
    background-color: #111;
    color: white;
    font-size: 25px;
}


/* List items */

.price3 li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}


/* Grey list item */

.price3 .grey3 {
    background-color: #eee;
    font-size: 20px;
}


/* The "Sign Up" button */

.button3 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */

@media only screen and (max-width: 600px) {
    .columns3 {
        width: 100%;
    }
}


/* CSS FOR TEAM SECTION  */

p,
a,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.section-team {
    font-family: 'Lato', sans-serif;
    padding: 80px 0;
}

.section-team .header-section {
    margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.section-team .single-person {
    margin-top: 30px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
}

.section-team .single-person:hover {
    background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}

.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
    color: #fff;
}


/* GOOGLE MAP  */

.my_map {
    overflow: hidden;
    padding-bottom: 39.25%;
    position: relative;
    height: 0;
    display: flex;
}


/* .my_map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
} */

.g-3,
.gy-3 {
    --bs-gutter-y: 1rem;
    margin: 20px;
}


/* FOOTER  */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* CSS FOR ICONS  */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}